@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Chakra+Petch:wght@300;400;500;600&family=Cherry+Swash:wght@400;700&family=Cormorant+Garamond:wght@300;400;500;600;700&family=Goldman&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700&family=Signika:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Landing-page-container{
    width: 100%;
    height: 90vh;
    background-image: url(../Images/FoodBackground.jpg);
    background-position: center;
    overflow: hidden;
    margin-bottom: 50px;
}

.Home-Description{
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    padding-left: 230px;
}

.Home-Description h1{
    color: white;
    font-family: 'Cherry Swash';
    font-size: 40px;
    margin-bottom: 20px;
}

.Home-Description p {
    color: white;
    font-size: 25px;
    margin-bottom: 30px;
}

.home-page-inputs  {
    padding: 8px;
    border: 2px solid white;
    border-radius: 50px;
    width: 700px;
}
.home-page-inputs input{
    width: 400px;
    height: 45px;
    border: none;
    border-right: 2px solid white;
    margin-right: 10px;
    background-color: transparent;
    padding-left: 30px;
    outline: none;
    font-family: 'Poppins';
    color: white;
    font-size: 17px;
}

.home-page-inputs input::placeholder{
    font-size: 14px;
    color: white;
    font-family: 'Poppins';
}

.home-page-inputs select{
    width: 110px;
    height: 45px;
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Poppins';
    outline: none;
}

.home-page-inputs option{
    color:black;
 
}

.home-page-inputs button{
    margin-left: 40px;
    padding-left: 40px;
    color: white;
    font-family: 'Poppins' ;
    border-left: 2px solid white;
    background-color: transparent;
}
.Recipes-Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.recipes-title h1{
    font-size: 40px;
    font-family: 'Signika';
    margin-bottom: 20px;
}

.recipes-description p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}

.recipes-Cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin-bottom: 100px;
    justify-items: center;
}

.showoff-card{
    width: 295px;
    height: 370px;
    border-radius: 8px;
}

.showoff-card img{
    width: 295px;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
    transform: scale(1);
    transition: 0.3s all ease-in-out;
}

.showoff-card img:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.showoff-card p{
    text-align: center;
    color: black;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Signika';
}

.NewsLetter{
    background-image: url(../Images//NewsLetter.jpg);
    background-position: center;
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 230px;
}

.NewsLetter-Description h1{
    color: white;
    font-size: 40px;
    font-family: 'Signika';
    margin-bottom: 20px;
}

.NewsLetter-Description p{
    color: white;
    font-size: 22px;
    font-family: 'Signika';
    margin-bottom: 20px;
    font-weight: 300;
}



.NewsLetter-Button button{
    background-color: #528f2d;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 21px;
    font-family: 'Poppins';
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.NewsLetter-Button button:hover{
    background-color: white;
    color: #528f2d;
}